.askXaroContainer {
    position: absolute;
    bottom: 3rem;
    z-index: 3;
    width: 100%;
}
.askXaroContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}