.askXaroContainer {
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}
@media (max-width: 1000px){
    .askXaroContainer {
        margin-bottom: 0;
    }
}