/* both sides */

.SidePanel {
    width: 15rem;
    display: flex;
    padding: 0rem;
    height: 35rem;
    border-radius: 0.5rem;
    position: relative;
    z-index: 2;
    flex-direction: column;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
.mobileToggle {
    position: absolute;
    top: 18rem;
    display: none;
    width: 2rem;
    background: #171717;
    height: 14rem;
    margin-top: -10rem;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding: 0.5rem;
    cursor: pointer;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.6rem;
    z-index: 1;
}

/* Hide panel button */
.SidePanel > a {
    position: absolute;
    bottom: 2.4rem;
    width: 3rem;
    padding: 0.2rem 0.4rem 0 0.4rem;
    font-size: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.SidePanel.leftPanel > a {
    right: 2.6rem;
}
.SidePanel.rightPanel > a {
    left: 2.6rem;
    transform: rotate(180deg);
}

/* left side */

.leftPanel {
    left: 0rem;
    background: #0d0d0d;
    box-shadow: 15px 14px #00000059;
}

/* right side */

.rightSidePanel::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1000px) {
    .SidePanel.leftPanel > a {
        display: none;
    }
    .SidePanel.rightPanel > a {
        display: none;
    }
}
@media (max-width: 1000px) {
    .SidePanel {
        width: 18.2rem;
        transition: height 0.1s, width 0.1s;
        transition-timing-function: ease-in-out;
    }

    /* left side */
    .leftPanel {
        margin-left: -18.2rem;
        box-shadow: none;
    }

    .leftToggle {
        margin-left: 18.2rem;
        left: 0rem;
        letter-spacing: 1rem;
    }

    /* right side */
    .rightPanel {
        margin-right: -18.2rem;
    }
    .rightPanel>div {
        box-shadow: none;
    }
    .rightToggle {
        margin-right: 15rem;
        right: 0rem;
    }

    /* both sides */
    .ExpandedPanel {
        width: 100%;
        flex: none;
        height: 79vh;
        top: 1rem;
        margin: 0;
    }
    .mobileToggle {
        display: flex;
    }
}

@media (max-width: 500px) {
    .leftToggle {
        margin-left: 18.2rem;
        left: 0rem;
    }
    .rightPanel > div {
        box-shadow: none;
        display: flex;
    }
    .rightToggle {
        margin-right: 18.2rem;
        right: 0rem;
    }
    .SidePanel > div.hiddenToggle {
        display: none;
    }
}
@media (max-width: 410px) {
    .SidePanel {
        height: 72vh;
        margin-top: -8rem;
    }
    .mobileToggle {
        margin-top: 0rem;
    }
}