.planetInfo {
    width: 100%;
    height: 100%;
    background: #0d0d0d;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.planetInfo::-webkit-scrollbar {
    display: none;
}

.title {
    width: 100%;
    margin-top: 0;
}
.detail {
    margin: 0 0 1.4rem 0;
}
.detail > span {
    color: #D4ADCF;
}
.valuableResource {
    color: #A8E6EF;
}

@media (max-width: 1000px) {
    .planetInfo {
        height: 100vh;
        width: 100%;
        padding: 0;
        align-items: center;
    }
    .planetInfo > h2 {
        padding: 1rem 0;
        font-size: 2rem;
        align-self: center;
        width: auto;
    }
    .planetInfo > p {
        padding: 0 2.5rem;
        font-size: 1.5rem;
    }
}