.DefaultButton {
    border: 1px solid #000000;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    background: #171717;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
}
.weaponCreatorButton {
    padding: 0.5rem 2rem;
}
.addRecordButton {
    font-size: 3rem;
    padding: 0 1.15rem;
    height: 3.2rem;
    position: absolute;
    left: 2.4rem;
    bottom: 0rem;
}

@media (min-width: 1000px) {
    .weaponCreatorButton {
        font-size: 1.2rem;
    }
    .addRecordButton {
        position: static;
        padding: 0 0.63rem;
        height: 2.4rem;
        font-size: 2.3rem;
    }
}