.mainContainer {
    width: 80%;
    height: 62%;
    margin-top: 7%;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.mainContainer > h2 {
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}
.creatorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formInputText {
    width: 21rem;
    margin-bottom: 2rem;
    background: #0d0d0d;
    padding: 1rem;
    font-size: 1.7rem;
    text-align: center;
    color: #ddd;
    border: 1px solid #000;
}
.formTextArea {
    width: 21rem;
    height: 15rem;
    margin-bottom: 2rem;
    background: #0d0d0d;
    padding: 1rem;
    font-size: 1.7rem;
    text-align: center;
    color: #ddd;
    border: 1px solid #000;
}
.formFieldInvalid {
    border-color: #812121;
}
/* Buttons */
.buttonsContainer {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
.buttonsContainer > a:last-child {
    width: 7rem;
}
.createdMessage {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: #45c845;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.createdMessageVisible {
    opacity: 1;
}

@media (min-width: 1000px) {
    .mainContainer {
        margin-top: 64.4%;
        width: 59%;
        height: 75%;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    .creatorContainer {
        width: 100%;
    }
    .formInputText {
       width: 30%;
    }
    .formTextArea {
        width: 82%;
    }
    .createdMessage {
        margin-top: 1rem;
    }
}

@media (max-width: 810px) {
    .mainContainer {
        height: 73%;
        margin-top: 30%;
    }
    .buttonsContainer {
        margin-top: 10%;
    }
}

@media (max-width: 410px) {
    .mainContainer {
        height: 80%;
        margin-top: 38%;
    }
    .buttonsContainer {
        margin-top: 90%;
    }
}
@media (max-width: 400px) {
    .mainContainer {
        height: 75%;
        margin-top: 83%;
    }
    .buttonsContainer {
        margin-top: 40%;
    }
}
@media (max-height: 700px) {
    .mainContainer {
        height: 72%;
        margin-top: 88%;
    }
    .buttonsContainer {
        margin-top: 15%;
    }
}