@keyframes xaro_static {
    0% {background-image: url('../../../public/xaro_second_try.png');}
    98% {background-image: url('../../../public/xaro_second_try.png');}
    99% {background-image: url('../../../public/static.gif');}
    100% {background-image: url('../../../public/xaro_second_try.png');}
}

.ShipStatusBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    background-image: url('../../../public/xaro_second_try.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    animation-name: xaro_static;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@media (min-width: 1000px) {
    .ShipStatusBackground {
        background-size: auto;
    }
}

@media (max-width: 810px) {
    .ShipStatusBackground {
        background-size: contain;
    }
}

@media (max-width: 410px) {
    .ShipStatusBackground {
        background-size: contain;
    }
}