/* TODO: move this and the body styles to global styles */
@font-face {
    font-family: hackedFont;
    src: url(../../../public/Hacked-KerX.ttf);
}
body {
    overflow: hidden;
    font-family: hackedFont;
    margin: 0;
    touch-action: none;
}
.main {
    width: 100%;
    height: 100%;
    color: #ddd;
    overflow: hidden;
}
.mainContainer {
    background: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1000px) {
    html {
        font-size: 11px;
    }
}