.ShipOverview {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    transition: 0.2s ease-in-out;
    padding: 2rem 4rem 0 4rem;
}
.shipSubSystem {
    height: auto;
    border: 1px solid #4f4f4f;
    border-radius: 0.5rem;
    background: #00000069;
    padding: 0.5rem 1rem;
    margin-bottom: 0.7rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out;
}
.basicInfo {
    flex-direction: row;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.basicInfo > h2 {
    font-size: 1.4rem;;
}
.detailedInfo {
    display: none;
}
.detailedInfo > p > span {
    color: #6a6a6a;
}
.selected {
    height: 13vh;
    margin-bottom: 2rem;
    background: #000000b3;
}
.selected .detailedInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
    font-size: 1.2rem;
}
.title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
}
/* Duplicated in ShipSystem */
.online {
    color: #45c845;
}
.inactive {
    color: gray;
}
.offline {
    color: #812121;
}

@media (min-width: 1000px) {
    .ShipOverview::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .selected {
        height: 15rem;
    }
}

@media (max-width: 1000px) {
    .ShipOverview::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .ShipOverview {
        width: 100%;
        overflow: auto;   
    }
    .shipSubSystem {
        height: 3rem;
        border: 1px solid #4f4f4f;
        border-radius: 0.5rem;
        background: #00000069;
        padding: 0 1rem 1rem 1rem;
        margin-bottom: 0.7rem;
        cursor: pointer;
        display: flex;
        flex-direction:column;
        transition: 0.2s ease-in-out;
    }
    .selected {
        height: auto;
        margin-bottom: 2rem;
        background: #000000b3;
    }
    .selected .detailedInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 810px) {
    .ShipOverview {
        height: 50rem;
    }
}
@media (max-width: 410px) {
    .ShipOverview {
        height: 75rem;
    }
}