.crewList {
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonsSection {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 2.4rem;
    left: 0;
    justify-content: space-evenly;
    width: 100%;
}

@media (min-width: 1000px) {
    .crewList {
        overflow-y: scroll;
        margin-bottom: 7rem;
    }
    .crewList::-webkit-scrollbar {
        -webkit-appearance: none;
    }
}