.resultsContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 4rem;
    width: 32rem;
    background: #0d0d0d;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}
.resultsContainer > div {
    width: 100%;
}
.searchResult {
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    cursor: pointer;
    filter: brightness(0.5);
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
}
.searchResult:hover {
    filter: brightness(2);
}