.celestialBodyContainer {
    position: absolute;
    z-index: 1;
}

/* TODO: Unify with other tooltip styles */
.celestialBodyContainer:hover > div{
    display: flex;
}

.star {
    width: 8rem;
}

.planet {
    width: 4rem;
    border: 9px double transparent;
    border-radius: 100%;
}

.system {
    width: 10rem;
    position: relative;
    z-index: 2;
}
.system:hover {
    animation-name: star_shine;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.celestialBodyContainer:hover > .focus_container{
    opacity: 1;
}
.focus_container {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.4s ease-in-out;
}
.focus_corner {
    position: absolute;
    border-top: 3px solid #071113;
    border-left: 3px solid #071113;
    height: 1rem;
    width: 1rem;
}
.focus_top_left {
    top: 1rem;
    left: 1rem;
    transform: rotate(180deg);
}
.focus_top_right {
    top: 1rem;
    right: 1rem;
    transform: rotate(270deg);
}
.focus_bottom_left {
    bottom: 1rem;
    left: 1rem;
    transform: rotate(90deg);
}
.focus_bottom_right {
    bottom: 1rem;
    right: 1rem;
}


.cluster {
    z-index: 2;
    border: 2px solid #000;
    border-style: dashed;
    position: absolute;
    left: 0;
    top: 0;
}
.cluster:hover {
    border-color: #bbb;
    box-shadow: 0px 0px 6px 0px #bbb;
}

@keyframes star_shine {
    0% {
        filter: brightness(1);
    }
    25% {
        filter: brightness(1.5);
    }
    50% {
        filter: brightness(2);
    }
    75% {
        filter: brightness(1.5);
    }
    100% {
        filter: brightness(1);
    }
}

/* Temp until a dynamic re-adjustment based on screen size is created */
@media (max-width: 1000px){
    .celestialBodyContainer {
        display: none;
    }
}
