.kodningReserves {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kodningTotal {
    width: 100%;
    background: #000;
    position: relative;
    height: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 1.1rem;
}
.kodningCurrentBar {
    background: #483548;
    height: 1.2rem;
    margin-top: 0.15rem;
    margin-left: 0.19rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.kondingCurrentText {
    position: absolute;
    width: 100%;
    top: 0.15rem;
    font-size: 1.2rem;
}