.kodningReserves {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kodningTotal {
    width: 100%;
    background: #000;
    position: relative;
    height: 0.4rem;
    border-radius: 0.5rem;
    margin-top: 0.1rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
}
.kodningCurrentBar {
    background: #483548;
    height: 0.15rem;
    margin-top: 0.11rem;
    margin-left: 0.19rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.kondingCurrentText {
    position: absolute;
    width: 100%;
    top: -0.25rem;
    left: -4.5rem;
    font-size: 0.9rem;
    text-align: left;

}

@media (max-width:500px) {
    .kodningReserves {
        width: 100%;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .kodningTotal {
        top: 0.9vh;
        width: 100%;
        background: #000;
        position: relative;
        height: 1rem;
        border-radius: 0.5rem;
        margin-top: 0.1rem;
        margin-left: 4.5rem;
        margin-right: 4.5rem;
    }
    .kodningCurrentBar {
        background: #483548;
        height: 1rem;
        margin-top: 0.1rem;
        margin-left: 0.19rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    .kondingCurrentText {
        position: absolute;
        top: 0;
        font-size: 0.9rem;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
    }
}