.mainContainer {
    width: 80%;
    height: 62%;
    margin-top: 7%;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.mainContainer > h2 {
    padding: 1rem 0;
    font-size: 2rem;
    align-self: center;
    width: auto;
}
.mainContainer > div {
    padding: 0 2.5rem;
    font-size: 1.5rem;
}
.mainContainer p > span {
    color: #6a6a6a;
}
/* Back button */
.mainContainer > a {
    margin: 1rem 0 1rem 2.4rem;
}

.creatorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}
.selectContainer > select {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #171717;
    padding: 0.7rem 1rem;
    border: 2px solid #000;
    appearance: none;
}
.selectContainer > select.disabledSelect {
    pointer-events: none;
    background-color: #1d0000;
    font-weight: bold;
    cursor: not-allowed;
}
.selectContainer > label {
    margin-bottom: 0.5rem;
}
.checkboxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checkboxContainer > input {
    width: 2rem;
    height: 2rem;
    margin-top: 0.7rem;
    filter: invert(100%) hue-rotate(18deg);
    outline: 2px solid #fff;
}
.checkboxContainer > input.disabledCheckbox {
    pointer-events: none;
    background-color: #1d0000;
    font-weight: bold;
    cursor: not-allowed;
}
.resultsContainer {
    margin-top: 1rem;
}
.resultsContainer > h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}
.resultsContainer p {
    margin: 1rem 0;
}
.detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1000px) {
    .mainContainer {
        margin-top: 64.4%;
        width: 59%;
        height: 75%;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    .selectContainer > select {
        width: 36%;
    }
    .creatorContainer::-webkit-scrollbar {
        -webkit-appearance: none;
    }
}

@media (max-width: 810px) {
    .mainContainer {
        height: 73%;
        margin-top: 30%;
    }
}

@media (max-width: 410px) {
    .mainContainer {
        height: 80%;
        margin-top: 38%;
    }
}