.askXaro {
    width: 30rem;
    margin-top: 39rem;
    background: #0d0d0d;
    padding: 1rem;
    font-size: 1.7rem;
    border: none;
    text-align: center;
    color: #ddd;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

@media (max-width: 1000px){
    .askXaro {
        margin-top: 0;
    }
}