.SearchContainer {
    position: absolute;
    left: 3.5rem;
    width: 80%;
    height: 79vh;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: flex-start;
}
.SearchContainer > h2 {
    padding: 1rem 0;
    font-size: 2rem;
    align-self: center;
    width: auto;
}
.SearchContainer > div {
    padding: 0 2.5rem;
    font-size: 1.5rem;
}
.SearchContainer > div > p:first-child {
    font-size: 1.7rem;
    font-weight: bold;
}
.SearchContainer p > span {
    color: #6a6a6a;
}
/* Back button */
.SearchContainer > a {
    position: absolute;
    bottom: 2.4rem;
    left: 2.4rem;
}