.SearchContainer {
    width: 80%;
    height: 62%;
    margin-top: 7%;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.SearchContainer.ExpandedSearchContainer {
    width: 100%;
    height: 100%;
    margin-top: 0;
    z-index: 4;
}
.SearchContainer > h2 {
    padding: 1rem 0;
    font-size: 2rem;
    align-self: center;
    width: auto;
}
.SearchContainer > div:first-of-type {
    width: inherit;
    padding: 0 2.5rem;
    font-size: 1.5rem;
}
.SearchContainer > div > p:first-child {
    font-size: 1.7rem;
    font-weight: bold;
}
.SearchContainer p > span {
    color: #6a6a6a;
}
            
.buttonsSection {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

.InteractiveText {
    display: flex;
    flex-wrap: wrap;
}
.nonInteractiveWord {
    margin-right: 0.5rem;
}

@media (min-width: 1000px) {
    .SearchContainer {
        margin-top: 64.4%;
        width: 59%;
        height: 66.2%;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        padding-bottom: 5rem;
    }
    .SearchContainer > div {
        width: 100%;
        box-sizing: border-box;
        overflow-y: scroll;
        font-size: 1.2rem;
    }
    .SearchContainer > div::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .SearchContainer > div > p:first-child {
        font-size: 1.2rem;
    }
    .SearchContainer.ExpandedSearchContainer {
        padding-bottom: 0;
        margin-top: 58.4%;
    }
    .SearchContainer.ExpandedSearchContainer > div:first-of-type {
        padding: 0 8rem;
    }
}

@media (max-width: 810px) {
    .SearchContainer {
        height: 73%;
        margin-top: 30%;
    }
    .SearchContainer.ExpandedSearchContainer {
        height: 110%;
        margin-top: 9%;
    }
    .SearchContainer.ExpandedSearchContainer > div:first-of-type {
        width: 100%;
        box-sizing: border-box;
    }
}
@media (max-width: 410px) {
    .SearchContainer {
        height: 80%;
        margin-top: 38%;
    }
}
@media (max-width: 400px) {
    .SearchContainer {
        height: 75%;
        margin-top: 83%;
    }
    .SearchContainer > div:first-of-type {
        overflow-y: scroll;
        margin-bottom: 5rem;
    }
    .SearchContainer.ExpandedSearchContainer {
        height: 110%;
        margin-top: 55%;
    }
}
@media (max-height: 700px) {
    .SearchContainer {
        height: 72%;
        margin-top: 88%;
    }
}