.SearchContainer {
    position: absolute;
    width: 80%;
    height: 78vh;
    top: 10rem;
    left: 3.5rem;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.SearchContainer.ExpandedSearchContainer {
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 4;
}
.SearchContainer > h2 {
    padding: 1rem 0;
    font-size: 2rem;
    align-self: center;
    width: auto;
}
.SearchContainer > div {
    padding: 0 2.5rem;
    font-size: 1.5rem;
}
.SearchContainer > div > p:first-child {
    font-size: 1.7rem;
    font-weight: bold;
}
.SearchContainer p > span {
    color: #6a6a6a;
}
/* Back button */
.SearchContainer > a {
    position: absolute;
    bottom: 2.4rem;
}
.SearchContainer > a:nth-of-type(1) {
    left: 2.4rem;
}
/* Expand button */
.SearchContainer > a:nth-of-type(2) {
    right: 2.4rem;
}

.InteractiveText {
    display: flex;
    flex-wrap: wrap;
}
.nonInteractiveWord {
    margin-right: 0.5rem;
}

@media (min-width: 1000px) {
    .SearchContainer {
        left: 17rem;
        width: 86rem;
        height: 34rem;
        padding-bottom: 5rem;
    }
    .SearchContainer > div {
        width: 100%;
        box-sizing: border-box;
        overflow-y: scroll;
        font-size: 1.2rem;
    }
    .SearchContainer > div::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .SearchContainer > div > p:first-child {
        font-size: 1.2rem;
    }
    .SearchContainer > a {
        bottom: 1rem;
    }
    .SearchContainer.ExpandedSearchContainer {
        padding-bottom: 0;
    }
}

@media (max-width: 410px) {
    .SearchContainer {
        height: 71vh;
    }
}